@import "tailwindcss";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;

  --color-primary: #1c1c22;
  --color-accent: #f97316;
  --color-accent-hover: #ea580c;
}

@layer base {
  * {
    @apply p-0 m-0 box-border leading-tight;
  }
  body {
    @apply bg-primary text-white font-sans;
  }
}

@layer components {
  .wrapper {
    @apply mx-auto max-w-7xl px-8;
  }

  .blog-wrapper {
    @apply mx-auto max-w-3xl px-8;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-b from-white to-white/60;
  }
}
